<header>
  <div id="top-header">
    <h5><a href="">Cart</a></h5>
    <h5><a href="">Sign In</a></h5>
  </div>
  <div class="main-header">
    <h1><a href="/home">BALL IS BEING</a></h1>
    <div class="border-area">
      <ul>
        <li><a href="">SHOP</a></li>
        <li><a href="https://soundcloud.com/christopherbriseno">MIXES</a></li>
        <li><a href="">CONNECT</a></li>
        <li><a href="/home/about">ABOUT</a></li>
      </ul>
    </div>
  </div>
</header>
