<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    <style type="text/css">
      #small-title {
        font-family: "Baskerville", serif;
        text-align: center;
        text-decoration: underline;
        font-size: xx-large;
      }
      .about-paragraph {
        font-family: "Lora", serif;
        text-align: center;
        margin: 5px;
        padding: 10px 450px;
        word-spacing: 2px;
      }

      #largeImage {
        text-align: center;
        margin: 10px;
      }
    </style>

    <div id="largeImage">
      <img src="https://i.imgur.com/nTzNaoq.jpg" width="500" height="525" />
    </div>

    <p id="small-title">ABOUT</p>

    <p class="about-paragraph">
      Ball Is Being was created in 2015 by Christopher Briseño as an art and basketball archive focusing on Black artists, athletes, and culture. The archive first began on Instagram where it amassed a cult-like following worldwide. It became known for its rugged aesthetics of athletes' on and off-court style, flashpoints of unexpected basketball references throughout American and global culture, and its spotlights of both well-known and up and coming Black artists of all mediums.
      expanded in 2017 with an ongoing mixtape series with artists such as DJ
      Lostcat, EQUISS, Gi Gi, and Christopher Briseño.
    </p>
    <p class="about-paragraph">
      In 2017, Ball Is Being expanded its scope with a mixtape series on Soundcloud. The series has featured works by artists DJ Lostcat, EQUISS, Gi Gi, and Ball Is Being's own Christopher Briseño. Artists have taken inspiration from the archive into their sounds by creating varying atmospheres and moods. The archive has also released a small collection of merch with the artist Shana Sadeghi-Ray, which may be purchased in the Shop. We look forward to bringing you more to see and be inspired by in the future.
    </p>
    <p class="about-paragraph">
        Ball is being.
    </p>
  </body>
</html>
