<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    <style type="text/css">
      #small-title {
        font-family: "Baskerville", serif;
        text-align: center;
        text-decoration: underline;
        font-size: xx-large;
      }
      .about-paragraph {
        font-family: "Lora", serif;
        text-align: center;
        margin: 5px;
        padding: 10px 350px;
      }

      #largeImage {
        text-align: center;
      }
    </style>

    <div id="largeImage">
      <img src="https://i.imgur.com/nTzNaoq.jpg" width="500" height="500" />
    </div>

    <p id="small-title">ABOUT</p>

    <p class="about-paragraph">
      Ball Is Being was created in 2015 by Christopher Briseño as an art and basketball archive focusing on Black artists and athletes. The archive first began on Instagram where it amassed a cult-like following worldwide. It became known for its rugged aesthetics of athletes' on and off-court style, and its spotlights of both well-known and under the radar Black artists of all mediums.
      expanded in 2017 with an ongoing mixtape series with artists such as DJ
      Lostcat, EQUISS, Gi Gi, and Christopher Briseño.
    </p>
    <p class="about-paragraph">
      Loreumm rgibheposrgh vnmoing43i vnr44 dgfj d89gvhgdsa, g834th94. v8443thF
      Veh8
    </p>
  </body>
</html>
