<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>

    <%- include('./partials/header.ejs')%>

    <style type="text/css">
      body {
        text-align: center;
        font-family: "Lora", serif;
      }

      p {
        margin-top: 50px;
      }
    </style>

    <p>If you'd like to be involved with Ball Is Being, please contact Christopher Briseño at the following contacts:</p>


</body>
</html>