<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>

  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <nav><a href="/home/new">Create a New Post</a></nav>
    <ul>
      <% posts.forEach(post => { %>
      <li>
        <a href="/home/<%=post._id; %>"> <%=post.title; %> </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
