<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>

    <%- include('./partials/header.ejs')%>

    <style type="text/css">
    .slider{
        width: 600px;
        height: 600px;
        background: url(https://i.imgur.com/JxootVy.jpg);
        object-fit: fill;
    }
    
    </style>


    <div class="slider">


    </div>


</body>
</html>