<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Post Page</title>
	</head>
	<body>
		<h1>Create a New Post</h1>
		<form action="/books" method="POST">
			Title: <input type="text" name="title" /><br />
			Author: <input type="text" name="author" /><br />
			Image: <input type="text" name="img" /><br />
            Text: <textarea id="content" type="text" name="contextText" />Enter content text here..</textarea><br />
			<input type="submit" name="" value="Submit New Post" />
		</form>
	</body>
	</body>
</html>