<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/header.ejs')%>

    <style type="text/css">
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 125px 150px;
            list-style-type: none;
            text-align: center;
            font-family: "Baskervville", serif;
            font-size: large;
        }
    </style>

    <div class="sale-items">
        <ul>
            <li>
                <img src="https://i.imgur.com/WOjoNCd.jpg" width="500" height="500">
                <p>Ball Is Being "Alien" Hoodie</p>
                <p>Available in sizes M - XXL</p>
                <p>$65</p>
            </li>
            <li>
                <img src="https://i.imgur.com/Jav7gYh.jpg" width="500" height="500">
                <p>Ball Is Being Logo Tote Bag</p>
                <p>Crossbody style bag</p>
                <p>$25</p>
            </li>
        </ul>
        
    </div>




</body>
</html>