<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/header.ejs')%>

    <style type="text/css">
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 125px 150px;
            list-style-type: none;
        }
    </style>

    <div class="sale-items">
        <ul>
            <li>
                <img src="https://i.imgur.com/WOjoNCd.jpg" width="500" height="500">
            </li>
            <li>
                <img src="https://i.imgur.com/Jav7gYh.jpg" width="500" height="500">
            </li>
        </ul>
        
    </div>




</body>
</html>