<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page></title>
</head>
<body>
    <nav>
        <a href="/home"> Back to the Home Page</a>
    </nav>
    <h1><%=post.title %></h1>
    Written By: <%=post.author %><br />
    <img src="<%= post.img%>" alt=""><br />
    <p>
        <%=post.contentText %>
    </p>

</body>
</html>