/* GENERAL STYLING */
a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */
header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 72px;
    text-align: center;
}

header h5 {
    display: inline;
    margin-left: 10px;
    
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: 'Baskervville', serif;
    box-sizing: border-box;
    background: #d3cdcd;
    border-radius: 15px;
    width: 80%;
    padding: 1em 3em;
}

#top-header {
    text-align: right;
    margin-right: 20px;
}