/* GENERAL STYLING */
a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */
header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 75px;
    text-align: center;
    margin: 10px 0px 25px 0px;
}

header h5 {
    display: inline;
    margin-left: 10px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: 'Baskervville', serif;
    box-sizing: border-box;
    background: #e4e2e2;
    border-radius: 15px;
    max-width: 1100px;
    margin: auto;
    padding: .5em .5em;
}

.border-area {
    text-align: center;
}

#sign-in {
    text-align: right;
    margin-right: 10px;
}

#create-button {
    font-family: 'Baskervville', serif;
    text-align: center;
    box-sizing: border-box;
    background: #e4e2e2;
    border-radius: 15px;
    max-width: 150px;
    padding: .3em .3em;
    margin-left: 5px;
}

/*   INDEX PAGE */
.post-scroll{
    text-align: center;
    list-style-type: none;
}

#index-images {
    border-radius: 25px;
    width: 850px;
    height: 275px;
    margin: 10px;
    object-fit: cover;
}


/*   EDIT PAGE  */
#edit-title{
    font-family: "Baskervville", serif;
    font-size: xx-large;
}

.field-list {
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    -moz-border-radius: 2px;
    border-radius: 2px;
}