/* GENERAL STYLING */
a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */
header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 75px;
    text-align: center;
    margin: 10px 0px 25px 0px;
}

header h5 {
    display: inline;
    margin-left: 10px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: 'Baskervville', serif;
    box-sizing: border-box;
    background: #e4e2e2;
    border-radius: 15px;
    max-width: 1100px;
    margin: auto;
    padding: .5em .5em;
}

.border-area a {
    text-align: center;
    text-decoration: underline 0.10em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.border-area a:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

#sign-in {
    text-align: right;
    margin-right: 10px;
}

#create-button {
    font-family: 'Baskervville', serif;
    text-align: center;
    box-sizing: border-box;
    background: #e4e2e2;
    border-radius: 5px;
    max-width: 150px;
    padding: .3em .3em;
    margin-left: 5px;
}

/*   INDEX PAGE */
.post-scroll{
    text-align: center;
    list-style-type: none;
}

#index-images {
    border-radius: 25px;
    width: 850px;
    height: 275px;
    margin: 10px;
    object-fit: cover;
}


/*   EDIT PAGE  */
.edit-parent{
    position: relative;
}

#edit-title{
    font-family: "Baskervville", serif;
    font-size: xx-large;
    position: absolute;
    top: 250px;
    left: 615px;
}

.field-list {
    width: 28%;
    height: 375px;
    padding: 25px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    top: 275px;
    left: 825px;

}

.field-list input {
    margin: 10px;
    height: 20px;
}

#title-form {
    width: 375px;
}

#author-form {
    width: 358px;
}

#image-form {
    width: 365px;
}

textarea {
    width: 388px;
    height: 150px;
    max-width: 388px;
    min-width: 388px;
    max-height: 155px;
    min-height: 150px;
    margin-top: 8px;
}

label {
    font-family: "Baskervville", serif;
    font-size: medium;
    display: block;
}

/*   NEW PAGE   */
.new-parent{
    position: relative;
}

#new-title {
    font-family: "Baskervville", serif;
    font-size: xx-large;
    position: absolute;
    top: 250px;
    left: 540px;
}

.new-field-list {
    width: 28%;
    height: 375px;
    padding: 25px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    top: 275px;
    left: 850px;
}

.new-field-list input {
    margin: 10px;
    height: 20px;
}